# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

__pycache__/
core-venv/
core/optimization/test_multi_device.py
core/optimization/example_usage.py
core/metrics_utils/metrics_schema.sql
core/forecast_utils/schema_forecasts.sql
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

web-app/frontend/src/components/ui