DB_USER="postgres"
DB_HOST="postgres"
DB_NAME="ems-db"
DB_PASSWORD="your-password"
DB_PORT="5432"
SESSION_SECRET=some_random_!!!_long_string
VITE_BASE_URL = http://10.123.123.123:3001
FRONTEND_IP = http://10.123.123.123:5173
MODBUS_API_URL=http://py-modbus-api:5050
TIMEZONE = 'Europe/Berlin'